body{
    background-color:#070707;
    text-align: center;
}

input{
    margin: 100px auto 100px;
    /* margin-left: 220px; */
    width: 350px;
    height: 40px;
    display: block;
    text-align: center;
}

#output{
    margin-top: 45px;
    width: 100px;
    background: lightgreen;
    margin: 100px auto 100px;

}

#btn{
    width: 350px;
    color: #fff;
    background-color:rgb(0, 0, 148);
    border-style: none;
    border-radius: 15px;
    margin-top: 100px;
    /* margin-left: 385px; */
}

h1{
    
    color: rgba(255, 0, 0, 0.726);
    margin-top: 50px;
}